{% load static %}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'reviewer/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'login/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'applicant/css/applicant.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47fe54e14f.js" crossorigin="anonymous"></script>
    <title>Reviewer</title>
  </head>
  {% block header %} {% endblock header %}
  <body class="text-center">
    <div class="d-flex h-25 w-100 p-3  flex-column">
        {% block tabelle %} {% endblock tabelle %}
      <footer class="mastfoot">
        <b>*Score = </b> Note * Auslandserfahrung * Empfehlungsschreiben * Abschluss / 4
        <div class="mt-4">
          <b>Auslandserfahrung:</b> Ja = 1.0 ; Nein = 2.0
        </div>
        <div class="mt-2">
          <b>Empfehlungsschreiben:</b> Ja = 1.0 ; Nein = 2.0
        </div>
        <div class="mt-2">
          <b>Abschluss:</b> Abitur = 1.0 ; Fachabitur = 2.0 ; Ausbildung = 3.0 ; Kein Abschluss = 4.0
        </div>
        <h3 class="mt-4">
          <i>#TeamUnchained</i>
        </h3>
      </footer>
    </div>
  </body>
</html>