{% load static %}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'login/img/favicon.ico' %}">
    <title>Application Page</title>
    <link href="{% static 'login/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'applicant/css/applicant.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47fe54e14f.js" crossorigin="anonymous"></script>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex h-50 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <nav class="nav nav-masthead justify-content-center">
          {% block header %} {% endblock header %}
        </nav>
      </header>
      {% block content %} {% endblock content %}
      <footer class="mastfoot mt-auto">
        #TeamUnchained
      </footer>
    </div>
  </body>
</html>
