{% extends 'applicant/applicant_base.html' %}


{% block header %}
    <a class="nav-link" href="{% url 'applicant' %}">Startseite</a>
    {% if status is None %}
        <a class="nav-link active" href="{% url 'bewerben' %}">Bewerben</a>
    {% endif %}
    <a class="nav-link" href="{% url 'daten' %}">Meine Daten</a>
    <a class="nav-link" href="{% url 'logout_applicant' %}">Ausloggen</a>
{% endblock header %}


{% block content %}
  <main role="main" class="inner cover">
    {% if success is True %}
      <div class="row">
        <div class="col"></div>

        <div class="col">
          <div class="alert alert-success">
            Erfolgreich beworben!
          </div>
        </div>

        <div class="col"></div>
      </div>
    {% else %}
      <h2 class="cover-heading">Derzeit verfügbare Studiengänge:</h2>
        <form action="" method="POST">
          {% csrf_token %}
          <h5 class="">Informatik <button class="btn btn-sm btn-secondary">Bewerben</button></h5>
        </form>
    {% endif %}
  </main>
{% endblock content %}
